.product-adv {
  margin-bottom: 30px;
  display: none;
}

.product-adv__note {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  font-weight: 400;
  margin-bottom: 10px;
}

.product-adv__banner {
  width: 100%;
  height: 300px;
  border: 1px dashed #888888;
  margin-bottom: 15px;
  color: #888888;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #F0F0F0;
}

.product-adv__banner:last-of-type {
  margin-bottom: 0;
}

@media(min-width: 1024px) {
  .product-adv {
    display: block;
  }
}