/* Responsive elements */
.element-mobile {
  display: flex;
}

.element-tablet {
  display: none;
}

@media(min-width: 1024px) {
  .element-mobile {
    display: none;
  }
  
  .element-tablet {
    display: flex;
  }
}
/* /Responsive elements */

/* Container */
.container {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

.container-content {
  padding: 0 10px;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    padding: 0 15px;
    width: 1024px;
  }

  .container-content {
    padding: 0 15px;
    width: 1024px;
  }
}

@media (min-width: 1500px) {
  .container {
    padding: 0 50px;
    width: 1500px;
  }

  .container-content {
    padding: 0 50px;
    width: 1500px;
  }
}
/* /Container */

/* Fav */
.fav {
  width: 30px;
  height: 30px;
  background: url('/public/img/heart_icon.svg');
  background-repeat: no-repeat;
  cursor: pointer;
}

.fav:hover {
  width: 30px;
  height: 30px;
  background: url('/public/img/heart_icon_hovered.svg');
  background-repeat: no-repeat;
}

.fav:active {
  width: 30px;
  height: 30px;
  background: url('/public/img/heart_icon_active.svg');
  background-repeat: no-repeat;
}

.fav-selected,
.fav-selected:hover {
  width: 30px;
  height: 30px;
  background: url('/public/img/heart_icon_selected.svg');
  background-repeat: no-repeat;
}

.fav-selected:active {
  width: 30px;
  height: 30px;
  background: url('/public/img/heart_icon_selected_h.svg');
  background-repeat: no-repeat;
}
/* Fav enlarged tablet*/