.product-info-subsection-table {
  display: none;
}

.product-table {
  border-collapse: collapse;
  border: 1px solid #888888;
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #888888;
}

.product-table th {
  border: 1px solid #888888;
}

.product-table tr:hover {
  background-color: #f2f2f2; 
}

@media(min-width: 1500px) {
  .product-info-subsection-table {
    display: block;
  }
}