.product-buy {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 24px 20px 20px 20px;
  margin-bottom: 30px;
}


.product-buy__old {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.product-buy__old-price {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #888888;
  text-decoration: line-through;
}

.product-buy__old-percent {
  font-size: 16px;
  line-height: 16px;
  background: #F36223;
  border-radius: 15px;
  color: #FFFFFF;
  padding: 4px 8px;
  font-weight: 500;
}

.product-buy__new {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 15px;
}

.product-buy__get {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 15px;
}

.product-buy__get p {
  margin-bottom: 10px;
}

.product-buy__btn {
  background-color: #F36223;
  color: #FFFFFF;
  text-align: center;
  display: block;
  width: 100%;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  line-height: 19px;
  height: 54px;
  cursor: pointer;
}

.product-buy__btn:hover {
  background-color: #DA4A0C;
}

.product-buy__btn:active {
  background-color: #A93A09;
}

.product-buy__btn-cart {
  margin-right: 17px;
  transform: translateY(3px) translateX(2px); 
}

.product-buy__btn-delete,
.product-buy__btn-delete:hover {
  background-color: #888888;
}


@media(min-width: 1024px) {
  .product-buy__get {
    font-size: 16px;
    line-height: 19px;
  }

  .product-buy__btn {
    font-size: 20px;
    line-height: 24px;
    height: 64px;
  }
}
