.product-colors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.product-colors__item {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.product-colors__item img {
  height: 50px;
}

.product-colors__item:hover {
  background-color: #f2f2f2; 
}

.product-colors__item:active {
  border: 2px solid #A93A09;
}

.product-colors__item.product-colors__item-active {
  border: 2px solid #F36223;
}

@media(min-width: 1024px) {
  .product-colors {
    gap: 10px;
  }

  .product-colors__item {
    width: 80px;
    height: 80px;
    gap: 10px;
  }

  .product-colors__item img {
    height: 60px;
  }
}