.footer {
  background: #F2F2F2;
  padding: 20px 0;
  min-height: 90px;
}

.text {
  width: 100%;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 17px;
}

.copyright {
  display: block;
}

.textPart {
  display: inline;
}

.link {
  font-size: 16px;
  line-height: 19px;
}

.next-line-mobile {
  display: block;
}


@media (min-width: 1024px) and (max-width: 1499px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 994px;
  }

  .text {
    width: 558px;
    margin-bottom: 0;
  }

  .text-part {
    display: block;
  }

  .nextLineMobile {
    display: inline;
  }
}

@media (max-width: 1023px) {
  .container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 1500px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    max-width: 1400px;
  }
}
