/* Common styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media(min-width: 1500px) {
  .container-content {
    min-height: calc(100vh - 225px);
  }
}

@media(max-width: 1499px) {
  .container-content {
    min-height: calc(100vh - 221px);
  }
}

@media(max-width: 1023px) {
  .container-content {
    min-height: calc(100vh - 214px);
  }
}

@media (min-width: 549px) and (max-width: 965px) {
  .container-content {
    min-height: calc(100vh - 230px);
  }
}

@media (min-width: 349px) and (max-width: 548px) {
  .container-content {
    min-height: calc(100vh - 265px);
  }
}

:root {
  font-size: 16px;
  color: #000000;
  font-family: 'Inter', 'Roboto', 'Arial', sans-serif;
}

a {
  color: #008CF0;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: #F36223;
}

a:active {
  color: #A93A09;
}

p {
  margin: 16px 0;
}

ul {
  padding-left: 20px;
}

.color-orange {
  color: #FF5722;
}

.bold {
  font-weight: 700;
}
/* /Common styles */