
.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25%;
}

.not-found__text {
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}