.product-memory__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.product-memory__btn {
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  width: 95px;
  height: 40px;
  cursor: pointer;
}

.product-memory__btn:hover {
  background-color: #f2f2f2; 
}

.product-memory__btn:active {
  border: 2px solid #A93A09;
}

.product-memory__btn.product-memory__btn-active {
  border: 2px solid #F36223;
}